body{
  background-color: hsl(197, 62%, 77%);;
  margin-left: 50px;
  margin-right: 50px;

}
p{
    color:black ;
    font-size: 20px;
    text-align: justify;
}
h1{
    color: #000080
}

